.container {
  margin: 0 auto;
  height: 100vh;
  max-width: 50vw;
}

.loading {
  margin: auto;

}
.center-text {
  text-align: center;
}

.labelCountry {
  margin-bottom: 1rem;
  display: block;
}

.inputCountry {
  height: 3rem;
  padding-left: 1.75rem; 
  border-radius: 0.375rem; 
  border: 1px solid #15357a; 
}

.inputCountry:focus {
  border: 2px solid #15357a; 
}

.holder {
  position: relative;
}

.dropdown {
  position: absolute;
  max-height: 300px;
  overflow: auto;
  border-radius: 0.5rem;
  min-width: 12rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.12);
  background-color: rgb(255 255 255 / var(-0.5));
}

.option {
  padding: 0.5rem;
  border-radius: 0.4rem;
  text-transform: capitalize;
}
.option:hover {
  background-color: #15357a;
  color: white;
}
